<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/css_index/Econtacto.css">

</head>
<body>

<header>
<a href="index.html" class="logo">
    <img src="img/logo.png" alt="">
    <h2>La Mágica Colombia</h2>
</a>


<nav>
    <a href="subirhistoria.html" class="link">¿Quieres subir mi historia?</a>
    <a href="quiensomos.html" class="link">¿Quienes Somos?</a>
    <a href="contacto.html" class="link">Contacto</a>
    <a href="registrarse.html" class="link">Registráte</a>
</nav>
</header>

<div class="fonhis1">
    <img src="img/fonhis1.png" alt="">
</div>
<div class="fonhis2">
    <img src="img/fonhis2.png" alt="">
</div>

<div class="texto">

 <a href="#"><img src="img/facebook.png" ></a>

 <a href="#"> <img src="img/instagram.png" ></a>

 <a href="#"><img src="img/gmail.png" ></a>





</div>